#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sora', 'Inter', system-ui, sans-serif;
  background-color: #04050a;
  color: white;
}

::selection {
  background-color: #fff;
  color: #04050a;
}
